.forum-div-flex {
    display: flex;
}
.forum-div-flex:hover {
    background-color: yellow;
}
.forum-div-column-sujet {
    flex: 6;
}
.forum-div-column-droite {
    flex: 2;
}
.forum-date {
    float: right;
    color: red;
}
.forum-div-list-sujet {
    border-bottom: 1px solid red;
}
.forum-text-supprimer-sujet {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 0;
}

