.forum-single-list-message-textarea {
    white-space: pre-line;
    margin-left: 50px;
    margin-right: 50px;
}
strong {
    color: red;
}
span {
    color: red;
}
.forum-single-list-div-message {
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
}
.forum-single-div-textarea {
    display: flex;
    justify-content: center;
}
textarea {
    width: 70%;
    height: 60px;
    margin-top: 10px;
}
.messages {
	flex: 1 1 100%;
	/*border: 5px solid red;*/
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 360px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.messages::-webkit-scrollbar {
    width: 0.4em;
}
 
.messages::-webkit-scrollbar-thumb {
  background-color: #eceff1;
}
.box {
	margin: auto;
	display:flex;
	justify-content: center;
 	flex-wrap: wrap;
 	align-items: flex-end;
	width: 100%;
	max-width: 500px;
	height: calc(100vh - 100px);
	padding: 50px 0;
	/*border: 5px solid purple;*/
}
.box > * {
	width: 100%;
}
.forum-single-div-flex {
	display: flex;
}
.forum-single-div-text-droite {
	flex: 1;
}
.forum-single-div-text-gauche {
	flex: 1;
	text-align: right;
	margin-right: 10px;
}