.forum-adherent-sujet-div-flex {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid red;
}
.forum-adherent-sujet-div-flex-2 {
    display: flex;
    flex: 6;
    flex-direction: row;
    padding-top: 10px;
}
.forum-adherent-sujet-div-flex-2:hover {
    background-color: yellow;
    cursor: pointer;
}
.forum-adherent-sujet-div-flex-3 {
    justify-content: center;
}
.forum-adherent-sujet-div-titre {
    margin-left: 10px;
    flex: 6;
}
.forum-adherent-sujet-div-auteur {
    flex: 1;
    color: red;
}
.forum-adherent-sujet-div-date {
    flex: 1;
    color: red;
}
.forum-adherent-sujet-div-plus {
    color: whitesmoke;
    font-weight: bold;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: -5px;
    margin-top: 10px;
    cursor: pointer;
}
.forum-adherent-div-entete-flex {
    display: flex;
    flex-direction: row;
}
.forum-adherent-entete-element {
    flex: 1;
}
